
###> symfony/framework-bundle ###
/manager/.env.local
/manager/.env.local.php
/manager/.env.*.local
/manager/config/secrets/prod/prod.decrypt.private.php
/manager/public/bundles/
/manager/public/build/
/manager/public/img/
/manager/public/uploads/
/manager/var/
/manager/vendor/
/manager/migrations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/manager.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/manager/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/manager/node_modules/
/manager/public/build/
/manager/npm-debug.log
/manager/yarn-error.log
###< symfony/webpack-encore-bundle ###

/.idea
/manager/.idea
/manager/composer.lock
/manager/package-lock.json
/manager/node_modules
/manager/.env
/manager/yarn.lock
